@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">This is first MVC app.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My Pages</h2>
        <p>
            <h3>Links</h3>
            <ul>
                <li>@Html.ActionLink("Homepage", "Index")</li>
                <li>@Html.ActionLink("App One", "Page1")</li>
                <li>@Html.ActionLink("App Two", "Page2")</li>
                <li>@Html.ActionLink("Loan Calculator", "LoanCalculator")</li>
                <li>@Html.ActionLink("About", "About")</li>
                <li>@Html.ActionLink("Contact", "Contact")</li>
            </ul>
        </p>
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>Information</h2>
        <p>
            This site contains the web applications created for CS460 using MVC 5 and the .NET Framework.
            The program listed under app will take in your Firstname and Lastname and then redisplay it on
            another page. The second app is a loan calculator that will take in an original amount and then
            calculate the loan based on a number of months and a fixed interest rate.
        </p>
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>.NET Useful Links</h2>
        <p></p>
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>-->
    </div>
</div>